*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgb(204, 183, 224);
}

.flex_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
}

.main {
    flex-grow: 1;
    padding: 20px 0;
    
}

.main_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px 20px 10px 20px;
}


.main_item {
    width: 200px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: darkslateblue;
    color: rgb(252, 252, 252);
    box-shadow: 2px 2px 10px rgb(21, 255, 0);
    font-size: 30px;
    padding-top: 20px;
    animation-name: turn;
    animation-duration: 2000ms;
    animation-timing-function: ease;

    text-shadow: 1px 1px 0 hsl(20,100%,50%),
    2px 2px 0 hsl(20,100%,50%),
    3px 3px 0 hsl(35,100%,50%),
    4px 4px 0 hsl(35,100%,50%),
    5px 5px 0 hsl(45,100%,50%),
    6px 6px 0 hsl(45,100%,55%),
    7px 7px 0 hsl(55,100%,60%),
    8px 8px 0 hsl(55,100%,65%);
color: hsl(0,100%,40%);
transition: all 1s;
}


.nav_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    list-style-type: none;
    padding-top: 50px;
}




.button {
    position: absolute;
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(37, 197, 71);
    padding: 10px 15px;
    border-radius: 22px;
    transition-property: all;
    transition-duration: 700ms;
}

.button:hover {
    font-size: 35px;
    color: rgb(167, 9, 9);
    border: none;
    background-color: rgb(246, 250, 0);
    padding: 10px 15px;
    border-radius: 23px;
    box-shadow: 2px 2px 10px rgb(255, 0, 0);
}


@keyframes turn {
    
    
from {
    transform: rotate(0deg);
    background: chocolate;
    box-shadow: 2px 2px 10px gold;
}

20% {
    transform: rotate(45deg);
    background: rgb(92, 0, 64);
    box-shadow: 2px 2px 10px gold;
}

40% {
    transform: rotate(90deg);
    background: rgb(255, 0, 179);
    box-shadow: 2px 2px 10px gold;
}

60% {
    transform: rotate(180deg);
    background: rgb(255, 0, 0);
    box-shadow: 2px 2px 10px gold;
}

80% {
    transform: rotate(90deg);
    background: rgb(255, 115, 0);
    box-shadow: 2px 2px 10px gold;
}

90% {
    transform: rotate(45deg);
    background: rgb(11, 6, 58);
    box-shadow: 2px 2px 10px gold;
}

to { 
    transform: rotate(0deg);
    background: rgb(0, 253, 84);
    box-shadow: 2px 2px 10px gold;

}
}

.main_item:hover {
    animation: turn 2000ms infinite ease;
}

.ball {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: chartreuse;
    position: absolute;
    bottom: 0;
    animation-name: bounce;
    animation-duration: 10000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes bounce {
    from {
     transform: translate(0, 0px);
     background: rgb(248, 104, 46);
    }

    10% {
        transform:translate(230px, -280px);
        background: rgb(0, 183, 255);
    }

    20% {
        transform: translate(350px, 0px);
        background: rgb(255, 49, 227);
        box-shadow: 2px 2px 10px gold;
    }

    30% {
        transform: translate(600px, -280px);
        background: rgb(255, 251, 0);
    }

    40% {
        transform: translate(800px, 0px);
        background: rgb(8, 58, 46);
        box-shadow: 2px 2px 10px gold;
    }

    50% {
        transform: translate(1000px, -280px);
        background: rgb(207, 0, 45);
    }

    60% {
        transform: translate(800px, 0px);
        background: chartreuse;
        box-shadow: 2px 2px 10px gold;
    }

    70% {
        transform: translate(600px, -280px);
        background: rgb(159, 113, 245);
        box-shadow: 2px 2px 10px gold;
    }

    80% {
        transform: translate(350px, 0px);
        background: rgb(255, 0, 0);
    }

    90% {
        transform: translate(230px, -280px);
        background: rgb(0, 0, 0);
        box-shadow: 2px 2px 10px gold;
    }

    to {
        transform: translate(0px, 0px);
        background: rgb(116, 139, 29);
    }

}

.ball:hover {
    animation: bounce 4s linear infinite;
    animation-duration: infinite;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}